@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
.main_container {
    margin:10px auto;
}
.filter_block {
    background-color: #FAFAFA;
    padding:10px 20px;
    margin-bottom: 20px;
}
.search_bar {
    width: 100%;
    border:0;
    box-shadow: 0 0 10px #eeeeee;
    padding:4px 20px 4px 30px;
    font-size:12px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    border-radius: 4px;
}
.search_bar::placeholder {
    color:#BCBCBC;
}
.search_bar:focus,.search_bar:active {
    outline: 0;
}
.search_bar_div {
    position: relative;
}
.search_icon {
    position: absolute;
    top:5px;
    left:22px;
    color:#BCBCBC;
}
.filters{
    background-color: white;
    margin:14px 0 0 0;
    box-shadow: 0 0 10px #eeeeee;
    padding:6px 10px;
    font-size: 12px;
}
.all_jobs_heading {
    font-size:20px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
/* loader style */
.loader {
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
  }
  
  .spinner {
    height: 4vh;
    width: 4vh;
    border: 6px solid #6F4165;
    border-top-color: white;
    border-radius: 100%;
    animation: rotation 0.6s infinite linear 0.25s;
  
    /* the opacity is used to lazyload the spinner, see animation delay */
    /* this avoid the spinner to be displayed when visible for a very short period of time */
    opacity: 0;
  }
  
  @keyframes rotation {
    from {
      opacity: 1;
      transform: rotate(0deg);
    }
    to {
      opacity: 1;
      transform: rotate(359deg);
    }
  }